<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Recipes I've collected over the years that I've either enjoyed, or want to try"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>Recipes</title>
  </head>
  <body>
    <div class="search-box">
      <input
        id="search-text"
        placeholder="Search..."
        autofocus
        oninput="search_changed(event)"
      />
    </div>
    <div id="category-area">
      <% for(let category of categories) { %>
      <a
        href="#void"
        data-category="<%=category%>"
        onclick="toggle_category('<%=category%>')"
        class="category-button"
        ><%= category_icon(category) %><%= category %></a
      >
      <% } %>
    </div>
    <div class="recipe-list">
      <% for(let recipe of recipes) { %> <% if (!recipe.name){ continue } %>
      <a
        class="recipe-list-item"
        data-categories="<%=JSON.stringify(recipe.categories)%>"
        data-ingredients="<%=JSON.stringify(recipe.versions.map(v=>v.ingredients || []).flat())%>"
        data-recipe-name="<%=recipe.name%>"
        href="recipe/<%=url_from(recipe.name)%>.html"
        ><%= recipe_icons(recipe) %><%=recipe.name%></a
      >
      <% } %>
    </div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
